html {
  scroll-behavior: smooth;
}

.paralax-background {
  background-attachment: fixed;
  background-size: 85vh !important;
  background-repeat: no-repeat;
  background-position: right center !important;
}
.home-container {
  min-height: 100vh !important;
  margin-inline: 0px !important;
}
.bng-shadow {
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a;
}
.home-cards {
  /* bottom: 0; */
}

.jumbotron,
.nav :hover {
  border-radius: 0px;
}
.navigation {
  background: rgba(209, 208, 208, 0.459) !important;
}
.card-quality {
  background: rgba(226, 215, 215, 0.9) !important;
  border-radius: 20px !important;
}
.product-card-container {
  display: flex;
  overflow-x: auto !important;
}
.product-card-container-row {
  flex-direction: row !important;
}
.product-card-container-col {
  flex-direction: column !important;
}
.product-card {
  /* border-radius: 50px 5px 50px 5px; */
  /* min-width: 30% !important; */
  /* min-height: 60vh !important; */
  transition: background 0.5s ease-in-out;
}
.product-card-body {
  min-height: 60%;
}
.product-card-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s ease-in-out;
}

.product-card-name {
  overflow-x: auto !important;
}
.product-card-count-cart {
  text-align: center;
  vertical-align: middle;
}
.notification {
  opacity: 0;
  transform-origin: bottom;
  /*-webkit-animation: notify-fadeIn 2s ease-in-out 2s 1 forwards,
    notify-fadeOut 2s ease-out 8s 1 forwards;
  animation: notify-fadeIn 2s ease-in-out 2s 1 forwards,
    notify-fadeOut 2s ease-out 8s 1 forwards;*/
}
@-webkit-keyframes notify-fadeIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  25% {
    transform: scaleX(0.25);
    opacity: 0.25;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
  /* 65% {
    transform: scaleX(0.25);
  }
  95% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(0);
  } */
}

@keyframes notify-fadeIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes notify-fadeOut {
  0% {
    opacity: 1;
    scaley: 1;
  }
  100% {
    opacity: 0;
    scaley: 0;
  }
}
@keyframes notify-fadeOut {
  0% {
    opacity: 1;
    scaley: 1;
  }
  100% {
    opacity: 0;
    scaley: 0;
  }
}
[data-title] {
  font-size: 18px;
  cursor: help;
}

[data-title]:hover::before {
  content: attr(data-title);
  background: #000;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}
[data-title]:hover::after {
  content: "";
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}
.border {
  border-width: 0.2em !important;
}
.main-body-scroll {
  padding-bottom: 5rem !important;
  margin-top: 10vh;
}
body {
  min-height: auto;
  padding-top: 50px;
  background: #d84c4c;
  /*padding-top: 4.5rem;*/
}
.jumbotron {
  background-color: transparent !important;
}
.main-body {
  padding-bottom: 0rem !important;
}
.product-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
#card-img-container {
}
/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
} */
/*STICKY FOOTER*/
.footer {
  /* bottom: 0; */
  /*width: 100%;*/
}
/*LESS TEXT */
.text-compress {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*CUSTOME FILE UPLOAD FOR UPDATE*/
.custom-file-input {
  opacity: 1 !important;
}
.actual-btn-upload {
  width: 10rem !important;
  height: 10rem !important;
  max-width: 10rem !important;
  max-height: 10rem !important;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 0px;
  }
  .product-card {
  }
}
@media screen and (max-height: 700px) {
  .product-card {
    /* min-width: 80% !important; */
  }
}
@media screen and (max-width: 768px) {
  .home-container {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: bottom center !important;
  }

  .product-card {
    min-width: 90% !important;
  }
}

/*LOADING*/
div.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 1100;
}
/*Horizontal Card*/
.scroll {
  overflow-x: scroll;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card-img {
  max-width: 10rem !important;
}
.close-div {
  position: relative;
}
.close {
  position: absolute;
  background: #fff;
  top: 2px;
  right: 2px;
}
.products-box {
  overflow-y: scroll !important;
  overscroll-behavior-y: scroll !important;
  height: 500px !important;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  transform: scale(0.79);
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
